body {
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.backgroundimage {
    background-image: url(../images/resturant.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#homeCard,
#menuCard,
#contactCard {
    background-color: white;
    width: 50vw;
    margin: 7rem auto;
    padding: 1rem;
    border-radius: 10px;
    border: 10px solid transparent;
    border-image: url(../images/floral-4106637_1280.png) 90 stretch;
    height: auto;
    transition: 0.5s all;
}

#Homeheader {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

#tab-content {
    width: 100vw;
    color: white;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
    height: 4rem;
    padding: 1rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tab-content ul {
    display: flex;
    justify-content: space-around;
}

#tab-content ul li {
    list-style-type: none;
    padding: 5rem;
}

#tab-content ul li:hover {
    cursor: pointer;
    color: rgb(255, 109, 133);
}

.active,
.active:hover {
    color: red !important;
    cursor: default !important;
}

.exit {
    transform: translateX(40rem);
    transform: scale(2);
    opacity: 0.1;
}

img {
    width: 45vw;
    height: 30vh;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    position: relative;
}

#pizzaimg::after {
    content: 'The deliciously divine pizza';
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 45vw;
}

#pizzaimg::after:hover {
    opacity: 1;
}

img:hover {
    transform: scale(1.05);
}

.texts {
    text-align: center;
}

.texts:hover {
    color: plum;
    cursor: default;
}

.food {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    padding-left: 0;
}